.wrapper {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  user-select: none;

  .button {
    aspect-ratio: 1;
    width: var(--btn-size);
    height: var(--btn-size);
  }
}
