.message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #00000088;
  border-radius: 0.5rem;
  backdrop-filter: blur(2px);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 600px;
  gap: 1rem;
  div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  p {
    font-size: 1.25rem;
  }
  button {
    border-radius: 50%;
    aspect-ratio: 1;
    font-size: 1.5rem;
    border: 3px solid white;
    background: none;
    padding: 1rem;
    width: 4rem;
    display: grid;
    place-content: center;
    font-weight: 600;
    color: white;
    align-self: center;
    animation: button 500ms ease-in-out alternate infinite;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
      rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
}
