.player {
  position: absolute;
  top: var(--pad);
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
  }
  .color {
    position: absolute;
    top: 0;
    right: -0.5rem;
    height: 100%;
    display: block;
    background: rgb(32, 145, 215);
    aspect-ratio: 1/1;
    overflow: hidden;
    transform: skew(-18deg);

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: -1rem;
      height: 100%;
      width: 2rem;
    }
  }
  .color {
    position: absolute;
    top: 0;
    right: -0.5rem;
    height: 100%;
    display: block;
    background: rgb(32, 145, 215);
    aspect-ratio: 1/1;
    overflow: hidden;
    transform: skew(-18deg);
  }
  .transcolor {
    position: absolute;
    top: 0;
    right: -2.85rem;
    height: 100%;
    display: block;
    aspect-ratio: 1/1;
    overflow: hidden;

    .inner {
      position: absolute;
      top: 0;
      right: 0.5rem;
      background: var(--bg);
      width: 120%;
      height: 100%;
      display: block;
      transform: skew(-18deg);
    }
  }
  .item {
    backdrop-filter: blur(2px);
    padding: 0.5rem 1rem;
    max-width: 400px;
    font-size: 1.25rem;
    background: var(--bg);

    display: flex;
    gap: 1rem;
    font-weight: 500;
    &:before {
      position: absolute;
      bottom: -4px;
      right: -1.85rem;
      content: "";
      width: 1.85rem;
      height: 4px;
      background: rgba(0, 0, 0, 0.25);
    }
  }
}
