.dead {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background: hsla(203, 23%, 8%, 0.9);
  border-radius: 0.5rem;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 2rem;
  animation: die 2s ease-out;
  h1 {
    color: #bf0b25;
    animation: blood 2s ease-out;
  }
}

@keyframes die {
  0% {
    transform: translate(-50%, -50%) scale(0.75);
  }
  25% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes blood {
  from {
    color: white;
  }
  to {
    color: #bf0b25;
  }
}
