.App {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  color: white;
  --bg: rgba(38, 52, 61, 0.5);
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.35);

  .floorEntry {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    font-size: 2.5rem;
    color: white;
    text-shadow: 8px 8px 0 rgba(0, 0, 0.15);
    animation: fade 4000ms ease;

    opacity: 0;
  }
  .weaponstatus {
    display: flex;
    gap: 1rem;
    position: fixed;
    // bottom: 1rem;
    // right: 1rem;
    bottom: 1rem;
    left: 1rem;
    flex-direction: row;
    align-items: flex-end;
    .force {
      width: 2rem;
      height: 16rem;
      background: var(--bg);
      position: relative;
      .weaponforce {
        width: 100%;
        height: 100%;
        background: green;
        position: absolute;
        bottom: 0;
      }
    }
    .weapon {
      background: var(--bg);
      height: 9rem;
      aspect-ratio: 1;
      box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      display: grid;
      place-content: center;
    }
    .projectiles {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      .projectile {
        background: var(--bg);
        aspect-ratio: 1;
        height: 4rem;
        display: grid;
        place-content: center;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
          rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
          rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      }
    }
  }
  .ui {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    --pad: 1rem;

    pointer-events: none;
    .words {
      position: absolute;
      bottom: var(--pad);
      left: 0;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      height: 50%;
      width: 200px;
      background: var(--bg);
      display: none;
    }

    .quiver {
      position: absolute;
      bottom: var(--pad);
      right: var(--pad);
      gap: 1rem;
      font-size: 3rem;
      color: red;
      background: var(--bg);
      padding: 1rem;
    }
    .timer {
      position: absolute;
      top: var(--pad);
      left: 50%;
      transform: translateX(-50%);
      // width: 600px;
      font-family: monospace;
      height: 3.75rem;
      background: transparent;
      backdrop-filter: none;
      color: white;
      font-size: 2.5rem;
      text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.55);
      text-align: center;
      line-height: 1;
      font-family: "Roboto Mono";
      font-weight: 600;
      background: var(--bg);
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem;
      gap: 2rem;

      .lang {
        display: grid;
        place-content: center;
        img {
          width: 28px;
        }
      }

      .time {
        position: relative;

        span {
          display: grid;
          place-content: center;
        }
      }
      .lang,
      .time,
      .left {
        flex: 1;
        height: 100%;
      }
      .left {
        display: flex;
        gap: 0.25rem;
        align-items: center;

        font-size: 1.25rem;
        text-shadow: none;
        font-family: "Play";
        flex-wrap: nowrap;
        word-break: keep-all;
        text-wrap: nowrap;
        white-space: nowrap;
      }
    }
  }
}

.item {
  backdrop-filter: blur(2px);
  padding: 0.5rem 1rem 0.5rem 3.25rem;
  font-size: 1.25rem;
  background: var(--bg);
  display: flex;
  gap: 1rem;

  font-weight: 500;
  box-shadow: 0 4px rgba(0, 0, 0, 0.25);
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes button {
  0% {
    transform: scale(1);
    opacity: 0.75;
  }
  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}
