.item {
  width: 4.5rem;
  height: 4.5rem;
  transition: all 128ms ease;
  background: var(--bg);
  backdrop-filter: blur(4px);
  display: grid;
  place-content: center;
  font-size: 1.25rem;
  color: white;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

  position: relative;
  * {
    text-align: center;
  }
  .name {
    position: absolute;
    top: -2.25rem;
    width: 200px;
    left: 50%;
    transform: translate(-50%);
    animation: fadeOut 2s;
    opacity: 0;
    font-size: 1rem;
  }
  .index {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    font-size: 0.65rem;
  }
  .durability {
    width: 0.75rem;
    height: 100%;
    position: absolute;

    left: 0;
    background: rgba(255, 255, 255, 0.1);

    .current {
      display: block;
      width: 100%;
      height: 100%;
      background: green;
      position: absolute;
      bottom: 0;
      transition: all 128ms ease;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      border-radius: 0.25rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
